@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

:root {
  --color-foreground: #fff;
  --color-background: #242525;
  --color-inner-neon: rgba(255, 255, 255, 0.5);
  --color-outer-neon: rgba(255, 255, 255, 0.75);
  --1-space-gap: 4px;
}

@theme {
  --color-foreground: #ffffff;
  --color-background: #242525;
  --color-marble: #E6E4D8;
  --color-neon-cyan: hsl(207, 54%, 46%);
  --color-inner-neon: rgba(255, 255, 255, 0.5);
  --color-off-neon: rgba(255, 255, 255, 0);
  --color-outer-neon: rgba(255, 255, 255, 0.75);
  --1-space-gap: 4px;
}

@theme inline {
  --color-background: var(--background);
  --background: var(--background);
  --color-foreground: var(--foreground);
  --foreground: var(--foreground);
  /*--font-sans: var(--font-lato-sans);*/
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }
  input {
    padding-inline: 6px;
  }
  input[type="number"] {
    padding-right: 0;
  }
  button {
    border: 1px solid black;
    padding-inline: 6px;
    cursor: pointer;
  }
  body {
    /*background-color: white;*/
    /*background-color: #1e1e1e;*/
    background: #1E1E1E;
    background-image: url("assets/bgs/blob-scene-haikei.svg") ;
    background-size: cover;
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .leftWrapJustifyCenterContainer{
    display: flex;
    flex-wrap: wrap;
    margin-inline: auto;
    margin-bottom: 24px;
    gap: 12px;
    max-width: 90%;
  }
  .marbleBtn {
    background-color: var(--color-marble);
    border: none;
  }
  .neon{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    margin: 6px;
    border: none;
    background-color: hsl(207, 54%, 46%);
  }
  .neonBorder{
    z-index: -1;
    /*clip-path: shape(*/
    /*  evenodd*/
    /*  from 0 0,*/
    /*  hline by 100%,*/
    /*  vline by 100%,*/
    /*  hline to 0,*/
    /*  close,*/
    /*  move to 6px 6px,*/
    /*  hline by calc(100% - 12px),*/
    /*  vline by calc(100% - 12px),*/
    /*  hline to 6px,*/
    /*  close*/
    /*);*/
  }
  .neonBorder>div{
    /*animation: neonBorderAnimation 30s infinite;*/
    display: block;
  }
  .ghostAddBtn{
    display: flex;
    gap: 4px;
    border-style: dashed;
    border-color: white;
    background: none;
    border-width: 1px;
    padding-block: 4px;
  }
  .deletionCheckInput::placeholder{
    font-style: italic;
  }
  .deletionCheckBtn{
    border-radius: var(--radius-xs);
    gap: var(--1-space-gap);
    cursor: pointer;
    background-color: var(--color-gray-100);
    color: var(--color-red-900);
    width: fit-content;
    display: flex;
    align-items: center;
    /*TODO: change from literal value to variables*/
    margin: 16px;
    padding-inline: 4px;
  }
  .deletionCheckBtn:disabled{
    cursor: default;
    color: var(--color-gray-500);
  }
  .dialogPanel{
    color: black;
    padding-block: 40px;
    min-width: 20rem;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }
  .secondaryUI{
    /*background-color: var(--color-gray-600);*/
    background-color: var(--color-neon-cyan);
    color: var(--color-foreground);
  }
  .tertiaryUI{
    /*background-color: var(--color-gray-600);*/
    background-color: hsl(206, 100%, 6%);
    border-right: 2px solid var(--color-foreground);
    color: var(--color-foreground);
  }

  .burgerNav{
    position: relative;
    border-bottom: hsl(207, 54%, 46%) solid 4px ;
  }
  .burgerNav::after{
    content: "";
    position: absolute;
    /*width: 35px;*/
    width: 100%;
    z-index: 5;
    bottom: -4px;
    height: 4px;
    left: 0;
    background: #10786d;
    background: linear-gradient(13deg,var(--color-neon-cyan) 25%, hsl(207, 54%, 59%) 50%, var(--color-neon-cyan) 75%);
  }
  .fileInputField{
    padding: 0;
  }
  .fileInputField::file-selector-button{
    background-color: lightgray;
    color: black;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes neonBorderAnimation {
  0%{
    filter: brightness(100%);
    transform: rotate(0);
  }
  15%{
    filter: brightness(150%);
    transform: rotate(360deg);
  }
  30%{
    filter: brightness(100%);
    transform: rotate(360deg);
  }
  100%{
    filter: brightness(100%);
    transform: rotate(360deg);
  }
}