@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-lato-sans);*/
}

@layer base {
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }
  input {
    padding-inline: 6px;
  }
  input[type="number"] {
    padding-right: 0;
  }
  button {
    border: 1px solid var(--background);
    padding-inline: 6px;
    cursor: pointer;
  }
}

@layer components {
  .editBtnFlexContainer{
    display: flex;
    max-width: 80svw;
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 12px;
  }
  .marbleBtn {
    background-color: #f3f4f6;
    color: #4a5565;
    border: 1px solid #4a5565;
  }
  .ghostAddBtn{
    display: flex;
    gap: 4px;
    border-style: dashed;
    border-color: white;
    background: none;
    border-width: 1px;
    padding-block: 4px;
  }
  .deletionCheckInput::placeholder{
    font-style: italic;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}